<div class="flex min-h-full flex-col justify-center sm:px-6 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-md">
      <h2 class="mt-6 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Registra tu cuenta</h2>
    </div>
  
    <div class="mt-5 sm:mx-auto sm:w-full sm:max-w-[38rem]">
      <div class="bg-white px-6 py-12 shadow sm:rounded-lg sm:px-12">
        <app-register-form (formValues)="register($event)" [isLoading]="loading$ | async"></app-register-form>
      </div>
  
      <p class="mt-10 text-center text-sm text-gray-500">
        Ya tienes cuenta ?
        <a [routerLink]="['/login']" class="font-semibold leading-6 text-indigo-600 hover:text-indigo-500">Iniciar sesion</a>
      </p>
    </div>
  </div>