<div>
  <form [formGroup]="contactForm" class="space-y-8 mt-2">
    <div>
      <label
        for="email"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
        >Email</label
      >
      <input
        type="email"
        id="email"
        name="email"
        formControlName="email"
        class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light"
        placeholder="name@central-dtf.com"
        required
      />
      @if(contactForm.get('email')?.invalid &&
      contactForm.get('email')?.touched) {
      <div class="text-red-500">
        {{
          contactForm.get("email")?.hasError("required")
            ? "El email es requerido"
            : contactForm.get("email")?.hasError("email")
            ? "Email invalido debe contener '@'."
            : ""
        }}
      </div>
      }
    </div>
    <div>
      <label
        for="subject"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
        >Asunto</label
      >
      <input
        type="text"
        id="subject"
        name="subject"
        formControlName="subject"
        class="block p-3 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 shadow-sm focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light"
        placeholder="Háganos saber cómo podemos ayudarle"
        required
      />
      @if( contactForm.get('subject')?.invalid &&
      contactForm.get('subject')?.touched) {
      <div class="text-red-500">Por favor, introduce el asunto.</div>
      }
    </div>
    <div class="sm:col-span-3">
      <label
        for="message"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-400"
        >Mensaje</label
      >
      <textarea
        id="message"
        name="message"
        formControlName="message"
        rows="6"
        class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg shadow-sm border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
        placeholder="Escríbenos un comentario ..."
      ></textarea>
      @if( contactForm.get('message')?.invalid &&
      contactForm.get('message')?.touched) {
      <div class="text-red-500">Por favor, introduce un mensaje.</div>
      }
    </div>
    <div
      class="flex justify-center items-center md:justify-start md:items-start"
    >
      <app-button
        classes="bg-blue-500 hover:bg-blue-700 text-white font-bold py-3 px-6 rounded mt-1 mb-2 md:mt-0 cursor-pointer"
        (click)="onSubmit($event)"
        [isLoading]="isLoading"
        [isDisabled]="contactForm.invalid"
        >Enviar</app-button
      >
    </div>
  </form>
</div>
