<h3 class="text-4xl font-semibold my-8">Valor dolar 💵</h3>
<form action="" [formGroup]="valueDolar">
  <section class="flex gap-2">
    <input
      class="w-40 shadow-sm bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light"
      type="text"
      formControlName="value"
    />
    <app-button
      classes="center px-3 bg-blue-600 py-2 ml-4 mr-3 text-base font-medium text-center text-white rounded-lg bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 dark:focus:ring-primary-900"
      type="button"
      (click)="changeValueDolar()"
    >
      Actualizar valor
    </app-button>
  </section>
      </form>