<nav
  class="bg-white border-gray-200 dark:bg-gray-900 relative overflow-visible w-full"
>
  <div class="flex flex-wrap items-center justify-between mx-auto p-4">
    <a
      routerLink="/home"
      class="flex items-center space-x-3 rtl:space-x-reverse"
    >
      <img
        src="../../../../assets/logo/logo.webp"
        class="h-24 absolute"
        alt="Logo"
      />
      <span
        class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white pl-16"
        >DTF-Central</span
      >
    </a>
    <div
      class="flex items-center md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse"
    >
      @if (isAuthenticated$ | async) {
      <button
        (click)="toggleMenu()"
        type="button"
        class="flex text-sm bg-gray-800 rounded-full md:me-0 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600"
      >
        <div class="w-8 h-8 rounded-full text-center">
          <span id="user-menu" class="text-white text-xl">{{
            userName | titlecase
          }}</span>
        </div>
      </button>
      <!-- Dropdown menu -->
      @if (showMenu) {
      <div
        class="right-7 top-8 absolute z-50 my-4 text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-700 dark:divide-gray-600"
      >
        <div class="px-4 py-3">
          <span class="block text-sm text-gray-900 dark:text-white"
            >Usuario</span
          >
        </div>
        <ul class="py-2">
          <li class="cursor-pointer">
            <a
              routerLink="/usuario/perfil"
              class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white"
              >Perfil</a
            >
          </li>
          @if (isAdmin$ | async) {
          <li class="cursor-pointer">
            <a
              routerLink="/admin/configuraciones"
              class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white"
              >Configuraciones</a
            >
          </li>
          }
          <li class="cursor-pointer">
            <a
              (click)="logOut()"
              class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white"
              >Sign out</a
            >
          </li>
        </ul>
      </div>
      } } @if (!(isAuthenticated$ | async)) {
      <div>
        <button
          type="button"
          class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
        >
          <a routerLink="/login">Iniciar Sesion</a>
        </button>
        <button
          type="button"
          class="text-black bg-white hover:text-white hover:bg-blue-700 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
        >
          <a routerLink="/registro">Registrarse</a>
        </button>
      </div>
      }
    </div>
    <div
      class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1"
      id="navbar-user"
    >
      <ul
        class="flex flex-col font-medium p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700"
      >
        <li [ngClass]="{ select: selected === 0 }">
          <a
            (click)="selectItem(0)"
            routerLink="/"
            class="block py-2 px-3 text-gray-900 bg-blue-700 rounded md:bg-transparent md:p-0 md:hover:text-blue-700 md:dark:text-blue-500"
            aria-current="page"
            >Inicio</a
          >
        </li>
        <li [ngClass]="{ select: selected === 1 }">
          <a
            (click)="selectItem(1)"
            routerLink="/contacto"
            class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700"
            >Contacto</a
          >
        </li>
        <li [ngClass]="{ select: selected === 2 }">
          <a
            (click)="selectItem(2)"
            routerLink="/precio"
            class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700"
            >Precios</a
          >
        </li>
        <li [ngClass]="{ select: selected === 3 }">
          <a
            (click)="selectItem(3)"
            routerLink="/usuario/ordenes"
            class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700"
            >Mis Pedidos</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
