<h2
  class="text-center text-6xl tracking-tight font-semibold text-gray-900 dark:text-white mb-4 py-4"
>
  Precios💲
</h2>
@if (table.columns.length && table.rows.length) {
<div class="overflow-x-auto shadow-md">
  <table
    class="w-full text-sm text-left rtl:text-right text-gray-700 dark:text-gray-400 shadow-lg bg-white"
  >
    <thead class="text-xs text-white uppercase rounded-md bg-black">
      <tr>
        <!-- Iterar sobre las columnas -->
        @for (column of table.columns; track $index) {
        <th scope="col" class="px-4 py-3">
          {{ column }}
        </th>
        }
      </tr>
    </thead>
    <tbody>
      <!-- Iterar sobre las filas -->
      @for (row of table.rows; track $index) {
      <tr class="border-b">
        <!-- Iterar sobre los valores de cada fila -->
        @for (value of row; track $index) {
        <td
          class="px-6 py-4 rounded-lg"
          ng-class="{
            'font-medium text-gray-900 whitespace-nowrap dark:text-white':
              $index === 0
          }"
        >
          @if(valueDolar ) {
          {{ value | valueDolar : valueDolar }}
          }@else {
          {{ value }}
          }
        </td>
        }
      </tr>
      }
    </tbody>
  </table>
</div>
} @else {
<div class="flex justify-center">
  <app-loading
    classes="inline w-14 h-14 text-gray-200 animate-spin dark:text-gray-600 fill-blue-600"
  ></app-loading>
</div>
}
