<div class="relative overflow-x-auto">
  <h2 class="text-center font-bold text-3xl mb-10">Tabla de precios</h2>
  @if (table.columns.length && table.rows.length) {
  <table
    class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
  >
    <thead
      class="text-xs text-gray-700 uppercase bg-gray-300 dark:bg-gray-700 dark:text-gray-400"
    >
      <tr>
        <!-- Iterar sobre las columnas -->
        @for (column of table.columns; track $index) {
        <th scope="col" class="px-4 py-3">{{ column }}</th>
        } >
      </tr>
    </thead>
    <tbody>
      <!-- Iterar sobre las filas -->
      @for (row of table.rows; track $index) {
      <tr class="bg-gray-100 dark:bg-gray-800">
        <!-- Iterar sobre los valores de cada fila -->
        @for (value of row; track $index) {
        <td
          class="px-6 py-4"
          [class]="
            $index === 0
              ? 'font-medium text-gray-900 whitespace-nowrap dark:text-white'
              : ''
          "
        >
          {{ value }}
        </td>
        }
      </tr>
      }
    </tbody>
  </table>
  } @else {
  <p class="text-center text-gray-500 dark:text-gray-400">
    No hay datos para mostrar
  </p>
  }
</div>
