<div class="relative overflow-x-auto">
  <h2 class="text-center font-bold text-3xl mb-10">Tabla de precios</h2>
  <table
    class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
  >
    <thead
      class="text-xs text-gray-700 uppercase bg-gray-300 dark:bg-gray-700 dark:text-gray-400"
    >
      <tr>
        <th scope="col" class="px-4 py-3 rounded-s-lg">Product name</th>
        <th scope="col" class="px-4 py-3 rounded-e-lg">Price</th>
      </tr>
    </thead>
    <tbody>
      <tr class="bg-gray-100 dark:bg-gray-800">
        <th
          scope="row"
          class="px-4 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
        >
          Precio por 1 metro
        </th>
        <td class="px-6 py-4">$2999</td>
      </tr>
      <tr class="bg-gray-100 dark:bg-gray-800">
        <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
        >
          De 2 a 5 metros
        </th>
        <td class="px-6 py-4">$1999</td>
      </tr>
      <tr class="bg-gray-100 dark:bg-gray-800">
        <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
        >
          De 6 a 10 metros
        </th>
        <td class="px-6 py-4">$99</td>
      </tr>
      <tr class="bg-gray-100 dark:bg-gray-800">
        <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
        >
          De 11 a 20 metros
        </th>
        <td class="px-6 py-4">$99</td>
      </tr>
      <tr class="bg-gray-100 dark:bg-gray-800">
        <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
        >
          De 21 a 50 metros
        </th>
        <td class="px-6 py-4">$99</td>
      </tr>
      <tr class="bg-gray-100 dark:bg-gray-800">
        <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
        >
          Superiores
        </th>
        <td class="px-6 py-4">$99</td>
      </tr>
    </tbody>
  </table>
</div>
