<section
  class="relative flex items-center justify-center border-t border-gray-200 bg-gray-900 py-20 sm:py-32 overflow-hidden"
>
  <div
    class="absolute left-20 top-1/2 -translate-y-1/2 sm:left-1/2 sm:-translate-x-1/2"
  >
    <svg
      viewBox="0 0 558 558"
      width="850"
      height="850"
      fill="none"
      aria-hidden="true"
      class="animate-spin-slow duration-6000 linear infinite"
    >
      <defs>
        <linearGradient
          id=":S3:"
          x1="79"
          y1="16"
          x2="105"
          y2="237"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="#fff"></stop>
          <stop offset="1" stop-color="#fff" stop-opacity="0"></stop>
        </linearGradient>
      </defs>
      <path
        opacity=".2"
        d="M1 279C1 125.465 125.465 1 279 1s278 124.465 278 278-124.465 278-278 278S1 432.535 1 279Z"
        stroke="#fff"
      ></path>
      <path
        d="M1 279C1 125.465 125.465 1 279 1"
        stroke="url(#:S3:)"
        stroke-linecap="round"
      ></path>
    </svg>
  </div>
  <div
    class="mx-auto w-4/5 px-4 sm:px-6 lg:px-8 flex flex-col items-center justify-center"
  >
    <h2
      class="text-center mb-10 text-6xl font-medium tracking-tight text-white"
    >
      Video explicativo
    </h2>
    <app-video video="https://www.youtube.com/embed/wS2w8hVofZU"></app-video>
  </div>
</section>
