<section
  class="relative overflow-hidden bg-gray-900 py-20 sm:py-32 flex justify-center"
>
  <div class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2">
    <svg
      viewBox="0 0 558 558"
      width="800"
      height="800"
      fill="none"
      aria-hidden="true"
      class="animate-spin-slow duration-6000 linear infinite"
    >
      <defs>
        <linearGradient
          id=":Rddbqnla:"
          x1="79"
          y1="16"
          x2="105"
          y2="237"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="#13B5C8"></stop>
          <stop offset="1" stop-color="#13B5C8" stop-opacity="0"></stop>
        </linearGradient>
      </defs>
      <path
        opacity=".2"
        d="M1 279C1 125.465 125.465 1 279 1s278 124.465 278 278-124.465 278-278 278S1 432.535 1 279Z"
        stroke="#13B5C8"
      ></path>
      <path
        d="M1 279C1 125.465 125.465 1 279 1"
        stroke="url(#:Rddbqnla:)"
        stroke-linecap="round"
      ></path>
    </svg>
  </div>
  <div class="z-20 mx-auto max-w-2xl lg:mx-0">
    <div class="mx-auto max-w-2xl lg:mx-0 lg:max-w-3xl text-center">
      <h2 class="text-6xl font-medium tracking-tight text-white">
        ATENCIÓN: RETIRADA DEL FILM EN CALIENTE
      </h2>
      <p class="mt-2 text-2xl text-gray-400 py-10 font-light">
        El transfer DTF es la solución revolucionaria y fácil para personalizar
        tus prendas textiles.
      </p>
    </div>
  </div>
</section>
