<form [formGroup]="priceForm">
  <div formArrayName="columns" class="flex">
    @for (column of columnControls; track $index) {
    <input
      class="w-40 shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light"
      type="text"
      [formControlName]="$index"
      placeholder="Titulo {{ $index + 1 }}"
    />
    }
    <button
      class="inline-flex items-center justify-center px-3 py-1 mr-3 text-base font-medium text-center text-white rounded-lg bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 dark:focus:ring-primary-900"
      type="button"
      (click)="newColumn()"
    >
      +
    </button>
  </div>

  <div formArrayName="rows">
    @for (row of rowControls; track $index) {
    <div [formGroupName]="$index" class="flex">
      @for (column of columnControls; track $index) {
      <input
        class="w-40 shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light"
        type="text"
        [formControlName]="$index"
        placeholder="Fila {{ $index + 1 }}, Columna {{ $index + 1 }}"
      />
      }
    </div>
    }
    <button
      class="inline-flex items-center justify-center px-3 py-1 mr-3 text-base font-medium text-center text-white rounded-lg bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 dark:focus:ring-primary-900"
      type="button"
      (click)="newRow()"
    >
      +
    </button>
  </div>
  <button
    class="inline-flex items-center justify-center px-5 py-3 mr-3 text-base font-medium text-center text-white rounded-lg bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 dark:focus:ring-primary-900"
    (click)="sendTable()"
  >
    Guardar Tabla
  </button>
  <button
    class="inline-flex items-center justify-center px-5 py-3 mr-3 text-base font-medium text-center text-white rounded-lg bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 dark:focus:ring-primary-900"
    (click)="saveChanges()"
  >
    Actualizar Tabla
  </button>
</form>
