@if (loading$ | async) {
<app-loading></app-loading>
} @else {
<form [formGroup]="priceForm">
  <h3 class="text-4xl my-8">Tabla de Precios</h3>
  <div
    class="flex max-w-[70rem] max-h-[30rem] overflow-x-auto overflow-y-auto bg-gray-200 px-6 pb-12 py-16 rounded-lg mb-8"
  >
    @if(loading$ | async) { } @else { }
    <div>
      <div formArrayName="columns" class="flex gap-3">
        @for (column of columnControls; track $index) {
        <input
          class="w-40 shadow-sm bg-slate-200 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light"
          type="text"
          [formControlName]="$index"
          placeholder="Titulo {{ $index + 1 }}"
        />

        <button
          class="center w-8 h-8 border shadow-sm hover:bg-gray-50 px-1 mt-1 rounded-lg bg-white text-2xl font-medium text-center text-red-600 focus:ring-4 focus:ring-primary-300 dark:focus:ring-primary-900"
          type="button"
          title="Eliminar Columna"
          (click)="removeColumn($index)"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-minus"
            width="25"
            height="25"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M5 12l14 0" />
          </svg>
        </button>
        }
      </div>

      <div formArrayName="rows">
        @for (row of rowControls ;track $index) {
        <div [formGroupName]="$index" class="flex gap-3 my-4">
          @for (column of columnControls; let last = $last; track $index) {
          <div [ngClass]="{ 'min-w-[204px]': !last, 'w-[9.5rem]': last }">
            <input
              class="w-40 shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light"
              type="text"
              [formControlName]="$index"
              placeholder="Fila {{ $index + 1 }}, Columna {{ $index + 1 }}"
            />
          </div>
          }
          <button
            title="Eliminar Fila"
            class="center w-8 h-8 border shadow-sm hover:bg-gray-50 px-1 mr-1 rounded-lg bg-white text-2xl font-medium text-center m-2 text-red-600 focus:ring-4 focus:ring-primary-300 dark:focus:ring-primary-900"
            type="button"
            (click)="removeRow($index)"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-minus"
              width="25"
              height="25"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M5 12l14 0" />
            </svg>
          </button>
        </div>
        }
      </div>
    </div>
    <div class="flex flex-col w-44 justify-evenly mb-2">
      <button
        class="center px-3 py-1 ml-4 mr-3 text-base font-medium text-center text-white rounded-lg bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 dark:focus:ring-primary-900"
        type="button"
        (click)="newColumn()"
      >
        + Columna
      </button>
      <button
        class="center px-3 py-1 ml-4 mr-3 text-base font-medium text-center text-white rounded-lg bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 dark:focus:ring-primary-900"
        type="button"
        (click)="newRow()"
      >
        + Fila
      </button>
    </div>
  </div>
  <div class="flex">
    <app-button
      (click)="sendTable()"
      [isLoading]="loading$ | async"
      [isDisabled]="priceForm.invalid"
      classes="center px-5 py-3 mr-3 text-base font-medium text-center text-white rounded-lg bg-blue-600 hover:bg-blue-900 focus:ring-4 focus:ring-primary-300 dark:focus:ring-primary-900"
    >
      {{ nameButton }}
    </app-button>
    <app-button
      (click)="deleteTable()"
      [isLoading]="loading$ | async"
      [isDisabled]="priceForm.invalid"
      classes="center px-5 py-3 mr-3 text-base font-medium text-center text-white rounded-lg bg-red-600 hover:bg-red-900 focus:ring-4 focus:ring-primary-300 dark:focus:ring-primary-900"
    >
      Eliminar Tabla
    </app-button>
  </div>
</form>
}
