<section class="bg-white dark:bg-gray-900">
  <div class="py-8 lg:py-16 px-4 mx-auto max-w-screen-xl">
    <div class="text-center mb-8 lg:mb-10">
      <h2
        class="text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white mb-4"
      >
        Contacta con nosotros 📞
      </h2>
      <p class="font-light text-gray-500 dark:text-gray-600 text-xl">
        ¿Tienes alguna consulta en particular? ¿Necesitas información sobre
        alguno de nuestros productos? ¿Tuviste problemas con algún pedido?
        Háganoslo saber.
      </p>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:gap-10">
      <app-contact-form
        (contactFormEmitter)="handleContactForm($event)"
      ></app-contact-form>
      <div class="flex flex-col items-center justify-center lg:items-center">
        <h3 class="text-2xl font-semibold text-center mb-2">
          ¿Prefieres chatear en WhatsApp?
        </h3>
        <p class="text-gray-700 text-center text-lg mb-4">
          ¡Conversemos directamente por WhatsApp! Haz clic en el botón a
          continuación para iniciar una conversación.
        </p>
        <div class="flex items-center space-x-2">
          <a
            href="https://wa.me/+59895292764"
            target="_blank"
            class="flex items-center bg-green-500 text-white rounded-lg px-4 py-2 hover:bg-green-600 transition-colors duration-200"
          >
            <!-- <img
              src="../../../../assets/images/brands/brand-whatsapp.svg"
              alt="WhatsApp Icon"
              class="w-6 h-6 mr-2"
            /> -->
            <picture class="w-6 h-6 mr-2">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-whatsapp" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 21l1.65 -3.8a9 9 0 1 1 3.4 2.9l-5.05 .9" /><path d="M9 10a.5 .5 0 0 0 1 0v-1a.5 .5 0 0 0 -1 0v1a5 5 0 0 0 5 5h1a.5 .5 0 0 0 0 -1h-1a.5 .5 0 0 0 0 1" /></svg>
            </picture>
            
            <span class="text-lg font-semibold">Chatear en WhatsApp</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
