@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .center {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .full-screen{
        height: calc(100vh - 4rem);
    }
    .full-screen-mobile{
        height: calc(100vh - 5rem);
    
    }

    .select a {
        color: blue;
    }
}



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
